# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/

# VSCode
.vscode/

# Environment files
.env
.env.*

# Google credentials
credentials/
*.json
!package.json
!package-lock.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
.idea/
